# .editorconfig

# root = true表明这是项目的顶级配置文件，不会再向上搜索
root = true

# [*]表示应用到所有文件
[*]
# indent_style和indent_size是代码缩进风格
indent_style = space
indent_size = 4
# end_of_line是换行符风格（lf, cr, crlf）
end_of_line = crlf
# charset是关键！指定所有新文件的默认编码为带BOM的UTF-8
charset = utf-8-bom
# trim_trailing_whitespace表示保存时自动删除行尾多余的空格
trim_trailing_whitespace = true
# insert_final_newline表示保存时在文件末尾确保有一个空行
insert_final_newline = true